
html {
    background-color: rgb(245, 242, 197)
}

h1 {
    font-size: 38pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(45, 87, 202);
    background-color: rgb(216, 229, 240);
}

ul li {
    color: blue
}

ul li {
    font-size: 16pt;
}
 
ol li {
    color: blue;
    font-size: 19pt;
}

ol li {
    font-style: italic;
    font-family: sans-serif; 
}

